apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gomenhashai.fullname" . }}
  labels:
    {{- include "gomenhashai.labels" . | nindent 4 }}
    {{- with .Values.extraLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
    {{- include "gomenhashai.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "gomenhashai.selectorLabels" . | nindent 8 }}
        {{- with .Values.extraPodLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- if and .Values.metrics.enabled (not .Values.metrics.serviceMonitor.enabled) }}
        prometheus.io/path: "/metrics"
        prometheus.io/scrape: 'true'
        prometheus.io/port: '{{ .Values.metrics.service.targetPort }}'
        {{- end }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.initContainers }}
      initContainers:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      containers:
      - name: gomenhashai
        args:
        {{- if .Values.args }}
          {{- toYaml .Values.args | nindent 10 }}
        {{- else }}
          - --leader-elect
          - --health-probe-bind-address=:8081
          - --webhook-cert-path=/etc/gomenhashai/certificates/webhook-certs
          - --metrics-bind-address=:{{ .Values.metrics.service.targetPort }}
          - --metrics-cert-path=/etc/gomenhashai/certificates/metrics-certs
          {{- if not .Values.metrics.secure }}
          - --metrics-secure=false
          {{- end }}
        {{- end }}
        command:
        - /manager
        image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}{{ with .Values.image.digest }}@{{ . }}{{ end }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          {{- with .Values.extraEnv }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- with .Values.envFrom }}
        envFrom:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: {{ .Values.readinessProbe.port }}
          name: probe-port
        {{- if ne .Values.livenessProbe.port .Values.readinessProbe.port }}
        - containerPort: {{ .Values.livenessProbe.port }}
          name: liveness-probe-port
        {{- end }}
        - containerPort: {{ .Values.webhook.service.targetPort }}
          name: webhook-server
          protocol: TCP
        - containerPort: {{ .Values.metrics.service.targetPort }}
          name: metrics-server
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            {{- if ne .Values.livenessProbe.port .Values.readinessProbe.port }}
            name: liveness-probe-port
            {{- else }}
            port: probe-port
            {{- end }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
        readinessProbe:
          httpGet:
            path: /readyz
            port: probe-port
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.containerSecurityContext | nindent 10 }}
        volumeMounts:
        {{- if or .Values.config .Values.registriesConfig .Values.globalPullSecrets }}
        - name: configs
          mountPath: /etc/gomenhashai/configs
        {{- end }}
        - mountPath: /etc/gomenhashai/digests/digests_mapping.yaml
          name: digests-mapping
          subPath: {{ .Values.digestsMapping.secretKey }}
          readOnly: true
        - mountPath: /etc/gomenhashai/certificates/webhook-certs
          name: webhook-certs
          readOnly: true
        - mountPath: /etc/gomenhashai/certificates/metrics-certs
          name: metrics-certs
          readOnly: true
        {{- with .Values.extraVolumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.sidecars }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "gomenhashai.serviceAccountName" . }}
      terminationGracePeriodSeconds: 10
      volumes:
      {{- if or .Values.config .Values.registriesConfig .Values.globalPullSecrets }}
      - name: configs
        projected:
          sources:
      {{- if .Values.config }}
          - configMap:
              name: {{ include "gomenhashai.fullname" . }}-config
              items:
              - key: config.yaml
                path: config.yaml
      {{- end }}
      {{- if .Values.registriesConfig }}
          - secret:
              name: {{ include "gomenhashai.fullname" . }}-registries
              items:
              - key: registries.yaml
                path: registries.yaml
      {{- end }}
      {{- if .Values.globalPullSecrets }}
          - secret:
              name: {{ include "gomenhashai.fullname" . }}-global-pull-secrets
              items:
              - key: pullSecretsCredentials.yaml
                path: pullSecretsCredentials.yaml
      {{- end }}
      {{- end }}
      - name: digests-mapping
        secret:
          secretName: {{ include "gomenhashai.digestsSecretName" . }}
      - name: webhook-certs
        secret:
          secretName: {{ include "gomenhashai.webhookSecretName" . }}
      - name: metrics-certs
        secret:
          secretName: {{ include "gomenhashai.metricsSecretName" . }}
      {{- with .Values.extraVolumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
