name: Test Charts

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string

permissions:
  contents: read

env:
  CHART_NAME: gomenhashai
  CHART_DIR: deploy/charts/

jobs:
  chart-test:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.17.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.x'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0
        with:
          yamale_version: "6.0.0"

      - name: Run chart-testing (lint)
        run: ct lint --chart-dirs ${{ env.CHART_DIR }} --target-branch ${{ github.event.repository.default_branch }} --check-version-increment=false

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: Install Prometheus Operator
        run: |
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm install kube-prometheus-stack -n prometheus prometheus-community/kube-prometheus-stack --create-namespace \
            --set alertmanager.enabled=false \
            --set grafana.enabled=false \
            --set kubeApiServer.enabled=false \
            --set kubelet.enabled=false \
            --set kubeControllerManager.enabled=false \
            --set coreDns.enabled=false \
            --set kubeEtcd.enabled=false \
            --set kubeScheduler.enabled=false \
            --set kubeProxy.enabled=false \
            --set kubeStateMetrics.enabled=false \
            --set nodeExporter.enabled=false

      - name: Install cert-manager
        run: kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.17.0/cert-manager.yaml

      - name: Install cmctl
        run: |
          curl -L https://github.com/cert-manager/cmctl/releases/download/v2.1.1/cmctl_linux_amd64.tar.gz | tar xz
          sudo mv cmctl /usr/local/bin/

      - name: Wait for cert-manager webhook to be ready
        run: cmctl check api --wait=2m

      - name: Run test-not-delete pod
        run: kubectl run test-not-delete -n default --image=docker.io/library/busybox:stable

      - name: Run test-delete pod
        run: kubectl run test-delete -n default --image=test

      - name: Install and test Chart
        run: |
          helm install ${{ env.CHART_NAME }} ${{ env.CHART_DIR }}${{ env.CHART_NAME }} --create-namespace -n ${{ env.CHART_NAME }} --values tests/values.yaml --set image.tag="${{ inputs.image_tag }}"
          if ! helm test ${{ env.CHART_NAME }} -n ${{ env.CHART_NAME }} ; then
            kubectl logs ${{ env.CHART_NAME }}-test -n ${{ env.CHART_NAME }}
            exit 1
          fi
      
      - name: Uninstall chart
        run: helm uninstall ${{ env.CHART_NAME }} -n ${{ env.CHART_NAME }}

      - name: Run test-delete pod
        run: kubectl run test-delete -n default --image=test

      - name: Install and test Chart (with cert-manager and serviceMonitor)
        run: |
          helm install ${{ env.CHART_NAME }} ${{ env.CHART_DIR }}${{ env.CHART_NAME }} --create-namespace -n ${{ env.CHART_NAME }} --values tests/values.yaml --set image.tag="${{ inputs.image_tag }}" --set certificates.cert-manager.enabled=true --set metrics.serviceMonitor.enabled=true --set metrics.secure=true
          if ! helm test ${{ env.CHART_NAME }} -n ${{ env.CHART_NAME }} ; then
            kubectl logs ${{ env.CHART_NAME }}-test -n ${{ env.CHART_NAME }}
            exit 1
          fi