name: Publish Docker image

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.tag_output.outputs.tag }}

    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
      pull-requests: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ secrets.GHCR_TOKEN }}

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        id: attest
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

      - name: Extract Docker tag from Git ref
        if: github.ref_type == 'tag'
        id: extract_tag
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          echo "tag=$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Update Chart.yaml appVersion
        if: github.ref_type == 'tag'
        run: |
          sed -i "s/^appVersion:.*/appVersion: \"${TAG}\"/" deploy/charts/gomenhashai/Chart.yaml
          sed -i "0,/^[[:space:]]*digest:/s|^\([[:space:]]*digest:\).*|\1 \"${DIGEST}\"|" deploy/charts/gomenhashai/values.yaml
        env:
          TAG: ${{ steps.extract_tag.outputs.tag }}
          DIGEST: ${{ steps.push.outputs.digest }}

      - name: Set up Go
        if: github.ref_type == 'tag'
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0

      - name: Install helm-docs
        if: github.ref_type == 'tag'
        run: go install github.com/norwoodj/helm-docs/cmd/helm-docs@v1.14.2

      - name: Generate Helm chart documentation
        if: github.ref_type == 'tag'
        run: helm-docs

      # Create a Pull Request
      - name: Create Pull Request
        if: github.ref_type == 'tag'
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          branch: update-chart-version-${{ steps.extract_tag.outputs.tag }}
          commit-message: Update appVersion to ${{ steps.extract_tag.outputs.tag }}
          delete-branch: true
          signoff: true
          sign-commits: true
          base: main
          title: "chore: update appVersion to ${{ steps.extract_tag.outputs.tag }}"
          body: |
            This PR updates the Helm chart appVersion to match the published Docker tag `${{ steps.extract_tag.outputs.tag }}` and also update the digest.

      - name: Prepare sigstore and in-toto bundle
        if: github.ref_type == 'tag'
        id: prep_attestation
        env:
          BUNDLE: ${{ steps.attest.outputs.bundle-path }}
        run: |
          NAME="${{ runner.temp }}/$(basename ${{ env.IMAGE_NAME}}-${{ steps.extract_tag.outputs.tag }})"
          echo "name=$NAME" >> $GITHUB_OUTPUT
          mv "$BUNDLE" "${NAME}.sigstore"
          if ! jq -e '.dsseEnvelope' "${NAME}.sigstore" > /dev/null; then
            echo "❌ Error: No 'dsseEnvelope' found in ${NAME}.sigstore"
            exit 1
          fi

          jq -c '.dsseEnvelope' "${NAME}.sigstore" > "${NAME}.intoto.jsonl"
          echo "✅ Extracted dsseEnvelope to ${NAME}.intoto.jsonl"

      # Upload attestations
      - name: Upload attestations to release
        uses: svenstaro/upload-release-action@81c65b7cd4de9b2570615ce3aad67a41de5b1a13 # v2
        if: github.ref_type == 'tag'
        with:
          file: ${{ steps.prep_attestation.outputs.name }}.*
          file_glob: true

      - name: Prepare tag output
        id: tag_output
        run: |
          tag="${{ steps.extract_tag.outputs.tag }}"
          if [ -z "$tag" ]; then
            tag="$(echo "${{ steps.meta.outputs.tags }}" | cut -d',' -f1 | cut -d':' -f2)"
          fi
          echo "tag=$tag" >> $GITHUB_OUTPUT

  call-chart-test-workflow:
    needs: build-and-push-image
    uses: ./.github/workflows/chart-test.yaml
    with:
      image_tag: ${{ needs.build-and-push-image.outputs.image_tag }}
        
